.whishlist__container{
    width: 90%;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.whishlist__container > h1
{
    color: white;
    text-align: center;

}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



  