.wishlist-card-info__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    right: 0;
    color: white;
    background-color: rgba(22, 20, 20, 0.521);
    gap: 15px;
    
}
